### `.env.example`
```env
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpass
MONGO_INITDB_DATABASE=workspace_db

SPRING_DATA_MONGODB_URI=mongodb://admin:adminpass@mongo:27017/workspace_db?authSource=admin
JWT_SECRET=JasmineSecretKey
JWT_EXPIRATION_MS=86400000